

<div class="container">
<html>

<Header>
    <h1>
    Welcome to the Gardening Manuals Page!
    </h1>
    </Header>
    <body>
      
</body>
</html>
</div>
<!-- <app-root></app-root> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="activebutton" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="home/login" href="#">Log In</a>
        </li> -->
<!--        
        for showing user faves: -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="home/users" routerLinkActive="active" href="#">Favourites</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
        
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <button class="myButton btn btn-success me-md-2" type="button">Sign Up</button> -->
        <button class="myButton btn btn-success" type="button" routerLink="home/login">Log In</button>
        
        <button class="myButton btn btn-success me-md-2" type="button" routerLink="home/sign_up">Sign Up</button>
        <!-- <button class="myButton btn btn-success" type="button">Sign In</button> -->
      </div>
    </div>
  </div>
</nav>

<!-- <ul>
    <li >
         {{ plantCategory.plant_category_name }}
         <button>{{ plantCategory.plant_category_name }}</button>
        </li>
    
</ul> -->



  <!-- <app-plants></app-plants> -->



<!-- this shows the sign up form -->
<!-- <app-sign-up></app-sign-up> -->

<!-- Sign up page validation in progress - works so far
Hide for now -->

<!-- <app-sign-up-validation></app-sign-up-validation> -->

<!-- <ul>
    <li *ngFor="let plantCategory of plantCategories">
         {{ plantCategory.plant_category_name }}
         <button>{{ plantCategory.plant_category_name }}</button>
        </li>
    
</ul> -->



<router-outlet></router-outlet>