<html>

<Header>
    <h1>
    Welcome to the Gardening Manuals Page!
    </h1>
    </Header>
    <body style="background-color:rgb(125, 219, 164)">
</body>
</html>

<app-root></app-root>

<!-- <ul>
    <li >
         {{ plantCategory.plant_category_name }}
         <button>{{ plantCategory.plant_category_name }}</button>
        </li>
    
</ul> -->

<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let plantCategory of plantCategories">
             <div class="card">
                <!-- {{ plantCategory.plant_category_name }} -->
                <img src="../assets/images/vegetables.jpeg" alt="Vegetables" class="card-img-top">
                <!-- <img [src] = {{ "../assets/images/" + plantCategory.plant_category_name + '.jpeg' "}}  -->
                <!-- <img [src] = "../assets/images/" + {{plantCategory.plant_category_name }} + '.jpeg' "> -->
                <div class="card-body">
                    <h5 class="card-title">{{ plantCategory.plant_category_name }}</h5>
                    <p class="card-text"> Various Vegetables ie. Broccoli, radish, carrots </p> 
                    <button>{{ plantCategory.plant_category_name }}</button>
                </div>
            </div> 
        </div>
        
        <!-- <div class="col-4">
            <div class="card">
                <img src="../assets/images/fruits.jpg" alt="Fruits" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Fruits</h5>
                    <p class="card-text"> Strawberries, Apples, Lemons etc. </p> 
                </div>
            </div>    
        </div>
        
        <div class="col-4">
                <div class="card">
                    <img src="../assets/images/herbs.jpg" alt="Herbs" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Herbs</h5>
                        <p class="card-text"> Basil, Sage, Thyme etc. </p> 
                    </div>
                </div>    
            </div>
        </div> -->

    </div>


<!-- this shows the sign up form -->
<!-- <app-sign-up></app-sign-up> -->

<!-- Sign up page validation in progress - works so far
Hide for now -->

<!-- <app-sign-up-validation></app-sign-up-validation> -->

<!-- <ul>
    <li *ngFor="let plantCategory of plantCategories">
         {{ plantCategory.plant_category_name }}
         <button>{{ plantCategory.plant_category_name }}</button>
        </li>
    
</ul> -->

<!-- 
<button (click)="getPlantCategories()"> 
    Get Plants
</button> -->


