
<div class="container">

    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="signUpDetails.email" pattern=".*@[a-z0-9.-]*"
             required #emailCheck="ngModel">
            <div *ngIf="emailCheck.touched && emailCheck.invalid" class="text-danger">
                Email is required
            </div>
            <!-- <div *ngIf="emailCheck.touched && emailCheck?.errors?." class="text-danger">
                Email is invalid.
            </div> -->
        </div>
        
        <div class="form-group">
            <label for="username">username</label>
            <input class="form-control" type="text" name="username" [(ngModel)]="signUpDetails.username"
             required #usernameCheck="ngModel">
            <div *ngIf="usernameCheck.touched && usernameCheck.invalid" class="text-danger">
               Username is required
            </div>            
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" minlength="6" [(ngModel)]="signUpDetails.password"
             required #passwordCheck="ngModel">
            <div *ngIf="passwordCheck.touched && passwordCheck.invalid" class="text-danger">
                Password is required and make sure its more than 6 characters
            </div>            
        </div>
       
        <!-- <a routerLink="/signUp"> <button type="submit" class="btn btn-primary">Sign Up</button></a> -->
        <button type="submit" class="btn btn-primary">Sign Up</button>

        <!-- <p *ngIf="isSubmit"> {{submitMessage}}</p> -->
    </form>

</div>