<div class="container">

    <form>

        <div class="form-group">
            <label for="email">Email</label>
            <!-- check for "@ sign in email using regex pattern" -->
            <input class="form-control" type="email" name="email" pattern=".*@[a-z0-9.-]*" required>
            <!-- <div *ngIf="emailCheck.touched && emailCheck.invalid" class="text-danger">
                Email is required
            </div> -->
            <!-- <div *ngIf="emailCheck.touched && emailCheck?.errors?.['pattern']?.actualValue" class="text-danger">
                Email is invalid
            </div>
             -->
        </div>
            <!-- INVALID {{ emailCheck.invalid }} <br>
            VALID {{ emailCheck.valid  }} <br>
            ERRORS {{ emailCheck.errors | json }} <br>
            Touched {{ emailCheck.touched }}<br> -->
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="username" name="username"  required >
            <!-- <div *ngIf="usernameCheck.touched && usernameCheck.invalid" class="text-danger">          
                          Username is required
            </div> -->
        
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" required>
                <!-- <div *ngIf="passwordCheck.touched && passwordCheck.invalid" class="text-danger">           
                             Password is required
                </div> -->
            
            
        </div>
            
    <!-- </form> -->
</div>
