<p>specifc-plants-in-category works!</p>
<!-- Handle how you are going to display the data that will be returned in the request -->

<div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let plantSubCategory of plantSubCategories">
        
            <div class="card">
              <img src="../assets/images/vegetables.jpeg" alt="Vegetables" class="card-img-top">
  
              <div class="card-body">
                  <h5 class="card-title">{{ plantSubCategory.plant_name }}</h5>
                  <p class="card-text"> {{ plantSubCategory.plant_id}}</p> 
                 
                  <!-- (click)="getPlantCategoriesById(plantCategory.plant_category_ID) -->
                  <!-- this will make a new URL for the plant category clicked -->
                  <!-- <a [routerLink]="['/specific_plants_in_category', plantSubCategory.plant_category_ID]">
                    <button>{{ plantSubCategory.plant_category_name }}</button></a> -->

                  <button>{{plantSubCategory.plant_name }}</button>

                </div>
               
            </div> 
        </div>
      </div>
    </div>