<!-- Handle how you are going to display the data that will be returned in the request -->
<div style="background-color:  rgb(138, 252, 138);">

<div class="container">
    <div class="row">

      <!-- <form #plantSubCategories="ngForm"> -->

      <!-- convert [object Object] to array by converting to json -->
      <!-- {{ plantSubCategories | json }} -->
    
      
     <!-- {{ plantSubCategory.value | json }} -->

      <div class="col-4" *ngFor="let plantSubCategory of plantSubCategories">
        

        <p>{{plantSubCategories.plant_id}}</p>

            <div class="card">
              <!-- <img src="../assets/images/vegetables.jpeg" alt="Vegetables" class="card-img-top"> -->
              <img src="../assets/images/{{plantSubCategory.plant_name}}.jpeg"> 

              <div class="card-body">
                  <h5 class="card-title">{{ plantSubCategory.plant_name }}</h5>
                  <p class="card-text">plant id: {{ plantSubCategory.plant_id}}</p> 
                 
                  <!-- (click)="getPlantCategoriesById(plantCategory.plant_category_ID) -->
                  <!-- this will make a new URL for the plant category clicked -->
                  <!-- <a [routerLink]="['/specific_plants_in_category', plantSubCategory.plant_category_ID]">
                    <button>{{ plantSubCategory.plant_category_name }}</button></a> -->

                  <!-- <button>{{plantSubCategory.plant_name }}</button> -->
                  <!-- <a [routerLink]="['/specific_plants_in_category', plantCategory.plant_category_ID]"></a> -->
                  <a [routerLink]="['selected_plant_details', plantSubCategory.plant_id]">
                    <button>{{ plantSubCategory.plant_name }}</button></a> 
                  

                    
                </div>
               
            </div> 
        </div>
      </div>
    </div>
