
<!-- <table class="table table-striped">
    <tr>
        <th>Plant Category ID</th>
        <th>Plant Category Name</th>
    </tr>

    <tr *ngFor="let plant of plantCategories">
        <td>{{ plant.plant_category_ID }}</td>
        <td>{{ plant.plant_category_name }}</td>
    </tr>
</table> -->

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-success me-md-2" type="button">Sign Up</button>
  <button class="btn btn-success" type="button">Sign In</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let plantCategory of plantCategories">
          <div class="card">
            <img src="../assets/images/vegetables.jpeg" alt="Vegetables" class="card-img-top">

            <div class="card-body">
                <h5 class="card-title">{{ plantCategory.plant_category_name }}</h5>
                <p class="card-text"> {{plantCategory.plant_category_ID}}</p> 
               
                <!-- (click)="getPlantCategoriesById(plantCategory.plant_category_ID) -->
                <!-- this will make a new URL for the plant category clicked -->
                <a [routerLink]="['/specific_plants_in_category', plantCategory.plant_category_ID]">
                  <button>{{ plantCategory.plant_category_name }}

                  </button>
                </a>
              
               <!-- {{ plantCategory.plant_category_name }}
               -->
               <!-- routerA('url/route/id')      -->
                <!-- <nav>
                <div><a routerLink="specific_plants_in_category/:id" routerLinkActive="active">Specific Plants</a></div>
                </nav>  -->

              </div>
               
        </div> 
    </div>
  </div>
</div>
<!-- <p>plants works!</p> -->

<!-- <app-plant-categories-details></app-plant-categories-details> -->
<!-- <app-plant-categories-details></app-plant-categories-details> -->