
<!-- <table class="table table-striped">
    <tr>
        <th>Plant Category ID</th>
        <th>Plant Category Name</th>
    </tr>

    <tr *ngFor="let plant of plantCategories">
        <td>{{ plant.plant_category_ID }}</td>
        <td>{{ plant.plant_category_name }}</td>
    </tr>
</table> -->


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    
    <a class="navbar-brand"></a>
    <!-- <form class="d-flex" #search="ngForm"> -->
      <input class="form-control me-2 w-25 ms-auto" type="text" placeholder="Search by plant category" aria-label="Search" [(ngModel)]="searchText" >
      <button class="btn btn-outline-success" type="submit" (click)="search()" float-end>Search</button>
      <button class="btn btn-outline-success" type="submit" (click)="clear()" float-end>Clear</button>
      <ng-container *ngIf="( filteredPlants) as result">

        <div *ngFor="let x of result; let i = index"> </div>
      
        <p *ngIf="result.length === 0">No Result</p>  
      
      </ng-container>
    <!-- </form> -->
  </div>
</nav>

<div class="container">
  <div style="background-color:  rgb(138, 252, 138);">

  <div class="row">
    <div class="col-4" *ngFor="let plantCategory of filteredPlants">
          <div class="card">
            <!-- <img src="../assets/images/vegetables.jpeg" alt="Vegetables" class="card-img-top">
             -->
            <img src="../assets/images/{{plantCategory.plant_category_name}}.jpg">

            <div class="card-body">
                <h5 class="card-title">{{ plantCategory.plant_category_name }}</h5>
                <p class="card-text">plant category ID: {{plantCategory.plant_category_ID}}</p> 
               
                <!-- (click)="getPlantCategoriesById(plantCategory.plant_category_ID) -->
                <!-- this will make a new URL for the plant category clicked -->
                <a [routerLink]="['/specific_plants_in_category', plantCategory.plant_category_ID]">
                  <button>{{ plantCategory.plant_category_name }}

                  </button>
                </a>
              
               <!-- {{ plantCategory.plant_category_name }}
               -->
               <!-- routerA('url/route/id')      -->
                <!-- <nav>
                <div><a routerLink="specific_plants_in_category/:id" routerLinkActive="active">Specific Plants</a></div>
                </nav>  -->

              </div>
               
        </div> 
    </div>
  </div>
</div>
<!-- <p>plants works!</p> -->

<!-- <app-plant-categories-details></app-plant-categories-details> -->
<!-- <app-plant-categories-details></app-plant-categories-details> -->